<div class="container p-3">
    <form class="row g-3" [formGroup]="form">
        <div class="col-md-4">
            <input type="text" class="form-control" [class.is-invalid]="this.form.controls.recorded.invalid"
                id="recorded" formControlName="recorded" placeholder="YYYY-MM-DD" aria-describedby="invalid-date">
            <div id="invalid-date" class="invalid-feedback">
                Please provide a valid date
            </div>
        </div>
        <div class="col-xs-12">
            <textarea class="form-control" placeholder="Leave a comment here" formControlName="content" id="content"
                style="height: 240px"></textarea>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-secondary w-100" routerLink="/">Back</button>
        </div>
        <div class="col-md-4" *ngIf="id">
            <button type="button" class="btn btn-danger w-100" (click)="open(content)">Delete</button>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary w-100" (click)="saveComment()" [disabled]="!form.valid">
                <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="isLoading"></span>
                <span class="ms-2" role="status">Save</span>
            </button>
        </div>
    </form>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Are you sure want to delete?
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">
            No
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteById(); modal.dismiss('Cross click')">
            Yes
        </button>
    </div>
</ng-template>