<div class="container p-3">
  <button class="btn btn-secondary w-100" routerLink="/">Back</button>
  <a class="btn btn-primary w-100 mt-1" (click)="onExportClicked()">Export data</a>
  <form class="input-group mt-3" [formGroup]="form">
    <input type="text" class="form-control" formControlName="searchText" placeholder="Search">
    <button class="btn btn-danger" type="button" id="button-clear" (click)="clearText()">Clear</button>
  </form>
  <ng-container *ngIf="data$ | async as data">
    <div class="row text-center mt-3" *ngFor="let i of data">
      <h3>{{ i.dateKey }}</h3>
      <h3 *ngIf="i.taken > 0">Taken 🍼 {{ i.taken }} ml</h3>
      <h3 *ngIf="i.eaten > 0">Eaten 🥗 {{ i.eaten }} gr</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Taken</th>
            <th scope="col">Other</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of i.data; index as i">
            <td>{{ row.hourAndMinutes | noData }} | {{ row.taken | noData }} ml<span *ngIf="row.eaten"> + {{row.eaten}}
                gr</span></td>
            <td>{{ row.other | noData }}</td>
            <td>
              <button type="button" class="btn btn-warning" [routerLink]="['/add', row.id]">
                <i class="bi bi-pencil-square"></i>
              </button>
              <a class="btn btn-danger" (click)="deleteById(row.id!)"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
          <ng-container *ngIf="i.comment | async as comment">
            <tr class="text-center" *ngIf="comment.length > 0">
              <td colspan="5">
                <ng-container *ngFor="let c of comment">
                  <p>{{ c.content }}</p> <span>
                    <button type="button" class="btn btn-warning" [routerLink]="['/add-comment', c.id]">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </span>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>